body{
     background: url(../images/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-flex{
    display: flex;
    height: 40vh;
    background-color: rgba(75, 75, 75, 0.4);
    
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    margin: 0.5em;
    z-index:1;
    overflow: hidden;
    text-align: center;
}
.map-flex{
    display: flex;
    height: 40vh;
    background-color: rgba(75, 75, 75, 0.4);
    padding: 10px;
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    margin: 0.5em;
    padding:0.5em;
    z-index:1;
    overflow: hidden;
}
.secondary-flex{
    display: flex;
    height: 40vh;
    background-color: rgba(75, 75, 75, 0.4);
    padding: 10px;
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    margin: 0.5em;
    z-index:1;
    text-align: left;
    overflow: auto;

}
#status{
  color: #1ff042;
   font-family: 'AndaleMono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  float: left;
}
.terminal-flex{
    width: 35vw;
    display: flex;
    height: 40vh;
    background-color: lightgrey;
    margin: 0.5em;
    z-index:1;
   background-color: rgba(75, 75, 75, 0.4);
   overflow: hidden;
}
@media (max-width: 800px) {
  .terminal-flex {
    width: 85vw;
  }
}
.terminal-Logs{
    white-space: normal; 
    list-style: none;
  color: #1ff042;
   font-family: 'AndaleMono', monospace;
   margin-bottom: 20px;
   overflow: hidden;
}
li{
    list-style: none;
   color: #1ff042;
   font-family: 'AndaleMono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
}


/****** TYPED *****/

/************ Arrows ******/
body {
  text-align: center;
  margin: 6em 0 0 0;
  padding: 0;
}

div {
  display: inline-block;
  vertical-align: middle;
}

a {
  display: inline-block;
  border-radius: 50%;
}

a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
  border: 0.5em solid #e74c3c;
}

a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

.left {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid rgba(31, 240, 66, 0.75);
  border-radius: 50%;
}

.left:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid rgba(31, 240, 66, 0.75);
  border-right: 0.5em solid rgba(31, 240, 66, 0.75);
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.top {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid rgba(31, 240, 66, 0.75);
  border-radius: 50%;

}

.top:after {
  content: '';
	display: inline-block;
  margin-top: 1.4em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid rgba(31, 240, 66, 0.75);
  border-right: 0.5em solid rgba(31, 240, 66, 0.75);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid rgba(31, 240, 66, 0.75);
  border-radius: 50%;

}

.bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid rgba(31, 240, 66, 0.75);
  border-right: 0.5em solid rgba(31, 240, 66, 0.75);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid rgba(31, 240, 66, 0.75);
  border-radius: 50%;

}

.right:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid rgba(31, 240, 66, 0.75);
  border-right: 0.5em solid rgba(31, 240, 66, 0.75);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/******* MESSAGE BOX *******/

.terminal {

  padding: 4rem;
  color: #1ff042;
   font-family: 'AndaleMono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1;
  margin-bottom: 0.75em;
  margin-top: 4em;
   text-align: left;
    overflow: hidden;
}

.text-editor-wrap {
    display: block;
    margin: auto;
    max-width: 530px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
    clear: both;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/***** control grid *****/
@media screen and (min-device-width:698px) {
  .showgrid {
    width: 698px;
    margin: auto;
  }
}

.showgrid{
    margin: 0 auto;
    padding-left: 10em;
    padding-top: 2em;
    padding-bottom: 5em;
}
.grid-column {
 
}

.grid-row {
  width: 100%;
  margin: auto;
}

@media (min-device-width: 698px) {
  .grid-column {
    width: 30;
    height: 30px;
    display: inline;
    float: left;
  }
}

.grid-column {
  width: 80px;
  height: 80px;
  margin: auto;
}


/********* Tri state button *******/
