extends layout
block content 
    .row
        .small-12.large-5.columns.contain
            .secondary-flex
                .terminal-Logs
                    ul
        .small-12.large-7.columns.contain
            .main-flex
        .small-12.large-6.columns.contain
            .terminal-flex 
                .text-editor.wrap
                    .terminal
        .small-12.large-6.columns.contain
            .main-flex
                div
                a(onclick='left()')
                    span.left
                div
                 a(onclick='forwards()')
                    span.top
                div
                 a(onclick='reverse()')
                    span.bottom
                div
                 a(onclick='right()')
                    span.right
    a(class="success button" onclick='connect()') Connect
      
