extends layout
block content
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src='/javascripts/vendor/p5.js')
    script.
        var state;
        var socket = io.connect();
        var dialogue = document.getElementById('terminal');
        socket.on('connected', function(){
            state = true;
            var status = document.getElementById('status');
            status.innerHTML = "Status: Connected";
            console.log("connection");
        });
        socket.on('disconnect', function(){
            state = false;
            var status = document.getElementById('status');
            status.innerHTML = "Status: Disconnected";
            console.log("disconnect");
        });
        socket.on('data', function (data) {
            console.log("received data",data);
        });
        socket.on('direction', function(data) {
            if(data.direction == 'forward'){
                console.log("forward");
                rover.update();
            }
        });
        socket.on('return', function (data) {
            document.getElementById('distance').value = data;
            //console.log("return data",data);
        });
    .row
        a(class="alert button" onclick='STOP()') Stop
        a(class="success button" onclick='connect()') Connect
            a(class="alert button" onclick='disconnect()') Disconnect
            .switch-toggle.switch-3.switch-candy
                input#on(name='state-d', type='radio', checked='')
                label(for='on', onclick='') Manual
                input#na(name='state-d', type='radio', checked='')
                label(for='na', onclick='') Autonomous
                input#off(name='state-d', type='radio')
                label(for='off', onclick='') Semi-Autonomous
                a
        .small-12.large-5.columns.contain
            .secondary-flex
                .terminal-Logs(id="terminal")
                    ul
        .small-12.large-7.columns.contain
            .map-flex
                div(id="status") 
                div(id="heading") 
                div(id="distance")
                div(id="canvas")
        .small-12.large-6.columns.contain
            .terminal-flex
                .text-editor.wrap
                    .terminal
        .small-12.large-6.columns.contain
            .main-flex
                .showgrid
                    .grid-row
                        .grid-column 
                        .grid-column 
                            a(onclick='forwards()')
                                span.top
                        .grid-column 
                    .grid-row
                        .grid-column
                            a(onclick='left()')
                                span.left
                        .grid-column 
                        .grid-column 
                            a(onclick='right()')
                                span.right
                    .grid-row
                        .grid-column 
                        .grid-column
                            a(onclick='reverse()')
                                span.bottom
                        .grid-column 
    script(src="javascripts/vendor/typeit.min.js")
    script(src='javascripts/vendor/rover.js')
    script(src='/javascripts/map.js')
      
