extends layout
block content
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src='/javascripts/vendor/p5.js')
    script.
        'use strict';
        var state;
        var socket = io.connect();
        var dialogue = document.getElementById('terminal');
        socket.on('connected', () => {
            state = true;
            document.getElementById('status').innerHTML = "Status: Connected";
            console.log("connection");
        });
        socket.on('disconnect', () => {
            state = false;
           document.getElementById('status').innerHTML = "Status: Disconnected";
            console.log("disconnect");
        });
        socket.on('data', data => {
            console.log("received data",data);
        });
        socket.on('return', data =>  {
            document.getElementById('distance').value = data;
        });
        socket.on('ports', data => {
            if(!data.length > 0){
                 $('#ports').append('<h3>No COM Ports Available</h3>');
            }else{
            $('#ports').append('<h4> Please Choose a com port</h4>');
            data.forEach(e => {
                $('#selector').append(new Option(e.comName, e.comName));
            });
            }
        });
        let portSelect = () => {
            let selected = { data : $('#selector').val()};
            $.ajax({
                type: "POST",
                url: '/port',
                data: selected,
                dataType: "json"
                });
                disconnect();
                connect();
            $('#ports').css('display','none');
        }
    #ports
        select(id='selector')
        a(class="success button" onclick='portSelect()') Connect to Port
    .row
        .small-12.large-12.columns.contain
            a(class="alert button" onclick='STOP()') Stop
            a(class="success button" onclick='connect()') Connect
            a(class="alert button" onclick='disconnect()') Disconnect
            .switch-toggle.switch-3.switch-candy
                input#on(name='state-d', type='radio', checked='')
                label(for='on', onclick='') Manual
                input#na(name='state-d', type='radio', checked='')
                label(for='na', onclick='') Autonomous
                input#off(name='state-d', type='radio')
                label(for='off', onclick='') Semi-Autonomous
                a   
        .snall-12.large-12.columns.contain
            .stat-flex
                div(id="status") 
                div(id="heading") 
                div(id="distance")
                div(id="canvas")
        .small-12.large-5.columns.contain
            .secondary-flex
                .terminal-Logs(id="terminal")
                    ul
        .small-12.large-7.columns.contain
            .map-flex
                div(id='mapbox')
                div(id='route')
        .small-12.large-6.columns.contain
            .terminal-flex
                .text-editor.wrap
                    .terminal
        .small-12.large-6.columns.contain
            .main-flex
                .showgrid
                    .grid-row
                        .grid-column 
                        .grid-column 
                            a(onclick='forwards()')
                                span.top
                        .grid-column 
                    .grid-row
                        .grid-column
                            a(onclick='left()')
                                span.left
                        .grid-column 
                        .grid-column 
                            a(onclick='right()')
                                span.right
                    .grid-row
                        .grid-column 
                        .grid-column
                            a(onclick='reverse()')
                                span.bottom
                        .grid-column 
    script(src="javascripts/vendor/typeit.min.js")
    script(src='javascripts/vendor/rover.js')
    script(src='/javascripts/map.js')
      
