doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Rover
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    link(rel='stylesheet', href='https://ghinda.net/css-toggle-switch/dist/toggle-switch.css')
    script(src='/javascripts/jquery.min.js')
  body.main_page
    block content
     
    
        
