doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Rover
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/app.css')
  body.main_page
    block content
    script(src='javascripts/vendor/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typeit/4.2.3/typeit.min.js')
    script(src="javascripts/vendor/typeit.min.js")
    script(src='javascripts/app.js')
        
